<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Home Directory</title>
    <!-- Compressed CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/css/foundation.min.css"
      crossorigin="anonymous"
    />

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><a th:href="@{'/'}">Employee Directory</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <form th:action="@{'/logout'}" method="post">
              <input type="submit" value="Sign out" />
            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center w-full h-dvh">
      <span class="text-lg text-red-600">You are not allowed here!</span>
      <button
        type="button"
        role="button"
        class="button my-3"
        onclick="history.back()"
      >
        Back
      </button>
    </div>
    <!-- Compressed JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
